@page
@model Clinic.Pages.AdmissionViewModel
@{
}
<a class="btn btn-primary" href="@Url.Page("/AddAdmission")">Dodaj prijem</a>
<table class="table">
    <thead>
        <tr>
            <th>Datum i vrijeme prijema</th>
            <th>Pacijent</th>
            <th>Nadležni doktor</th>
            <th>Hitan prijem</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Admissions != null && Model.Admissions.Any())
        {
            @foreach (var admissions in Model.Admissions)
            {
                <tr>
                    <td>@admissions.AdmissionDate</td>
                    <td>@(admissions.PatientName)</td>
                    <td>@(admissions.DoctorName)</td>
                    <td>@admissions.IsEmergency</td>
                    <td>
                        <form method="get" asp-page="AddAdmission" asp-route-admissionId="@admissions.Id" style="display:inline;">
                            <button type="submit" class="btn btn-primary">Izmjeni</button>
                        </form>
                        <form method="post" asp-page-handler="SoftDelete" asp-route-admissionId="@admissions.Id" style="display:inline;">
                            <button type="submit" class="btn btn-warning">Otkaži</button>
                        </form>
                        <form method="post" asp-page-handler="Delete" asp-route-admissionId="@admissions.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Obriši</button>
                        </form>
                </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Nema podataka o pacijentima.</td>
            </tr>
        }

    </tbody>
</table>
