@page
@model Clinic.Pages.AdmissionViewModel
@{
}


<div class="card p-4">

    <a class="primary-button ml-auto" href="@Url.Page("/AddAdmission")"> <i class="fa-solid fa-plus"></i> Dodaj prijem</a>
 
   <div>
        <form method="get" class="" asp-page="AdmissionView">
            <div class="d-flex gap-4 align-items-end mb-4">
                <div class="d-flex flex-column flex-grow-1">
                    <label for="startDate">Od:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control custom-date-input" asp-for="StartDate" />
                </div>
                <div class="d-flex flex-column flex-grow-1">
                    <label for="endDate">Do:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control custom-date-input" asp-for="EndDate" />
                </div>
                <div>
                    <select asp-for="AdmissionStatus" class="form-control">
                        <option value="0" >Aktivni prijemi</option>
                        <option value="1" >Završeni prijemi</option>
                        <option value="2" >Otkazani prijemi</option>
                    </select>

                </div>
                <div class="admission-search-buttons">
                    <button type="submit" class="primary-button "> <i class="fa-solid fa-magnifying-glass"></i> Pretrazi</button>
                    <a href="@Url.Page("AdmissionView")" class="primary-button secondary-color-class "><i class="fa-solid fa-x"></i></i>Poništi </a>
                </div>
                
            </div>
        </form>
   </div>

</div>


<div>
  
    <table class="custom-table">
        <thead>
            <tr>
                <th>Datum i vrijeme prijema</th>
                <th>Pacijent</th>
                <th>Nadležni doktor</th>
                <th>Hitan prijem</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Admissions != null && Model.Admissions.Any())
            {
                @foreach (var admissions in Model.Admissions)
                {
                    <tr>
                        <td>@(admissions.AdmissionDate)</td>
                        <td>@(admissions.PatientName)</td>
                        <td>@(admissions.DoctorName)</td>
                        <td>
                            @if(admissions.IsEmergency)
                            {
                                <i title="Hitan prijem" class="fa-solid fa-circle-h" style="color:#20a4bf; font-size:24px;"></i>

                            }
                        </td>
                        <td>
                            <div class="row">
                                <form method="get" asp-page="AddAdmission" asp-route-admissionId="@admissions.Id" style="display:inline;" class="col-3 mb-2">
                                    <button  title="Izmjeni" type="submit" class="custom-button" style="width: 100% !important; background-color: #07a75c;">
                                        <i  class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                </form>
                                <form method="post" asp-page-handler="SoftDelete" asp-route-admissionId="@admissions.Id" style="display:inline;" class="col-3 mb-2">
                                    <button title="Otkaži" type="submit" class="custom-button" style="width: 100% !important; background-color: #d19f07;" disabled="@(admissions.IsCancelled)">
                                        <i class="fa-solid fa-ban"></i>
                                        </button>
                                </form>
                                <form method="post" asp-page-handler="Delete" asp-route-admissionId="@admissions.Id" style="display:inline;" class="col-3 mb-2">
                                    <button title="Obriši" type="submit" class="custom-button" style="width: 100% !important;background-color: #bf1f1f;">
                                        <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                </form>
                                <form method="post" asp-page-handler="Details" asp-route-admissionId="@admissions.Id" style="display:inline;" class="col-3 mb-2">
                                    <button title="Nalazi" type=" submit" class="custom-button" style="width: 100% !important;">
                                        <i class="fa-solid fa-clipboard-list"></i>
                                        </button>
                                </form>
                            </div>
                            
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Nema podataka za prikaz.</td>
                </tr>
            }

        </tbody>
    </table>
</div>

