@page
@model Clinic.Pages.DoctorViewModel
@{
}
<a class="btn btn-primary" href="@Url.Page("/AddDoctor")">Dodaj doktora</a>
<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>JMBG</th>
            <th>Datum rođenja</th>
            <th>Pol</th>
            <th>Adresa</th>
            <th>Broj telefona</th>
            <th>Titula</th>
            <th>Šifra ljekara</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Doctors != null && Model.Doctors.Any())
        {
            @foreach (var doctor in Model.Doctors)
            {
                <tr>
                    <td>@doctor.FirstName</td>
                    <td>@doctor.LastName</td>
                    <td>@doctor.JMBG</td>
                    <td>@doctor.DateOfBirth.ToString("d")</td>
                    <td>@doctor.GenderName</td>
                    <td>@doctor.Address</td>
                    <td>@doctor.PhoneNumber</td>
                    <td>@doctor.GenderName</td>
                    <td>@doctor.DoctorCode</td>
                    <td>
                        <form method="get" asp-page="AddDoctor" asp-route-doctorId="@doctor.Id" style="display:inline;">
                            <button type="submit" class="btn btn-primary">Izmjeni</button>
                        </form>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Nema podataka o pacijentima.</td>
            </tr>
        }

    </tbody>
</table>
